<div class="row">
    <div class="col-6">
        <form [formGroup]="alumnos" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label for="matricula" class="form-label">Matricula</label>
                <input type="text" id="matricula" name="matricula" placeholder="Matricula" formControlName="matricula" class="form-control" required>
                <div *ngIf="alumnos.get('matricula')?.touched && alumnos.get('matricula')?.errors?.['required']" class="alert alert-danger">Matricula requerida</div>
            </div>
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" placeholder="Nombre" class="form-control" id="nombre" name="nombre" formControlName="nombre">
                <div *ngIf="alumnos.get('nombre')?.touched && alumnos.get('nombre')?.errors?.['required']" class="alert alert-danger">Nombre requerido</div>
            </div>
            <div class="mb-3">
                <label for="apaterno" class="form-label">Apterno</label>
                <input type="text" placeholder="Apaterno" class="form-control" id="apaterno" name="apaterno" formControlName="apaterno">
                <div *ngIf="alumnos.get('apaterno')?.touched && alumnos.get('apaterno')?.errors?.['required']" class="alert alert-danger">Apellido Paterno requerido</div>
            </div>
            <div class="mb-3">
                <label for="amaterno" class="form-label">Amaterno</label>
                <input type="text" placeholder="Amaterno" class="form-control" id="amaterno" name="amaterno" formControlName="amaterno">
                <div *ngIf="alumnos.get('amaterno')?.touched && alumnos.get('amaterno')?.errors?.['required']" class="alert alert-danger">Apellido Materno requerido</div>
            </div>
            <div class="mb-3">
                <label for="correo" class="form-label">Correo</label>
                <input type="text" placeholder="Correo" class="form-control" id="correo" name="correo" formControlName="correo">
                <div *ngIf="alumnos.get('correo')?.touched && alumnos.get('correo')?.errors?.['required']" class="alert alert-danger">Correo requerido</div>
            </div>
            <button class="btn btn-primary" type="submit">Agregar</button>
        </form>
    </div>
    <div class="col-6"></div>
</div>